# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/google-services.json

# Backend
backend/node_modules/
backend/serviceAccount.json
.env

# Editor
.idea/
*.iml
.DS_Store
